fastapi==0.109.2
uvicorn==0.27.1
pydantic==2.6.1
python-multipart==0.0.7
pymupdf==1.23.8
docx2txt==0.8
transformers==4.38.1
torch==2.1.0
langchain>=0.1.10
langchain-community>=0.0.25
faiss-cpu==1.7.4
sentence-transformers==2.4.0
python-dotenv==1.0.0
huggingface_hub>=0.19.3
requests==2.26.0
numpy==1.26.4


firecrawl_py>=0.0.1
